{% extends 'base.html' %}

{% block content %}
    <!-- Action Control -->
    <div class="member-action-container">
        <div class="member-action-group">
            <div class="input-group rounded">
                <form action="{{ url_for('membermanager_bp.search_member') }}">
                    <input type="search" class="form-control rounded" placeholder="Search" 
                    name='query' id='query' />
                </form>
            </div>

            <a href="{{ url_for('membermanager_bp.add_member') }}" type="button" class="btn btn-dark btn-md">Add Member</a>
        </div>

    </div>

    <!-- Member Details Table -->
    <div class="member-details-container">
        <div class="member-not-found">
            {% if members|length == 0 %}
                <p>No members found</p>
            {% else %}
        </div>
        <div class="member-details">
            <table class="table table-striped">
                <thead class="text-center"> 
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr class="text-center">
                        <td>{{member.name}}</td>
                        <td>{{member.email}}</td>
                        <td>
                            &nbsp;&nbsp;
                            <a href="{{ url_for('membermanager_bp.delete_member', id=member.id) }}"><img src="/icons/trash.svg" alt="delete" ...></a>
                            &nbsp;&nbsp;
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
{% endblock %}