{% extends 'base.html' %}

{% block content %}
    <!-- Action Control -->
    <div class="book-action-container">
        <div class="book-action-group">
            <div class="input-group rounded">
                <form action="{{ url_for('bookmanager_bp.search_book') }}">
                    <input type="search" class="form-control rounded" placeholder="Search" name='query' id='query'/>
                </form>
            </div>

            <a href="{{ url_for('bookmanager_bp.add_book') }}" type="button" class="btn btn-dark btn-md add-book-btn">Add Book</a>
        </div>

    </div>

    <!-- Book Details Table -->
    <div class="book-details-container">
        <div class="book-not-found">
            {% if books|length == 0 %}
                <p>No books found. please add book using the 'Add Book' option provided</p>
            {% else %}
        </div>
        <div class="book-details">
            <table class="table table-striped">
                <thead class="text-center table-dark"> 
                    <tr>
                        <th scope="col" class="col-md-4">Name</th>
                        <th scope="col" class="col-md-4">Author</th>
                        <th scope="col" class="col-md-4">Publisher</th>
                        <th scope="col" class="col-md-4">Price</th>
                        <th scope="col" class="col-md-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr class="text-center">
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.price}}</td>
                        <!-- <td>{{book.pages}}</td> -->
                        <td>
                            &nbsp;
                            <a href="{{ url_for('bookmanager_bp.update_book', id=book.id) }}"><img src="/icons/pencil-fill.svg" alt="edit"></a>
                            &nbsp;
                            <a href="{{ url_for('bookmanager_bp.delete_book', id=book.id) }}"><img src="/icons/trash.svg" alt="delete"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

{% endblock %}